html {
  font-family: Arial;
  display: inline-block;
  margin: 0px auto;
  text-align: center;
}
h1 {
  color: #0F3376;
  padding: 2vh;
}
label {
  color: #f44336;
}
/* .pattern-set {
  background-color: #0F3376;
} */
.main-text {
  font-size: 1.5rem;
}
.checkbox-label {
  display: block;
  /* text-align: left; */
  text-align: center;
}
.pattern-selector {
    display: inline-block;
    background-color: #008CBA;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
    width:40%;
}
.hide-by-default {
  display: none;
}
.show-hidden {
  display: block;
}
.pattern-selected {
  background-color: salmon;
}
.pattern-details {
  margin-left: 4rem;
  font-size: 1.5rem;
  background-color: salmon;

  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 40px;
  text-decoration: none;
  cursor: pointer;
}
.speed-selector {
    display:inline;
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #c0c0c0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
.speed-selector:hover {
opacity: 1;
}
.speed-selector::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 15px;
background: #04AA6D;
cursor: pointer;
}
.speed-selector::-moz-range-thumb {
width: 25px;
height: 15px;
background: #04AA6D;
cursor: pointer;
}
.speed-selector-small {
  width: 80%;
}
.speed-selector-medium {
  width: 90%;
}

.slider-container {
    width: 100%;
    font-size: 1.1rem;
    vertical-align: middle;
    text-align: left;
}

/***
Grid areas
***/
.color-picker {
  height: 4rem;
  width: 10rem;
  display: inline;
}

.color-picker-small {
  /* height: 3rem;
  width: 8rem; */
  height: 100%;
  width: 100%;
  display: inline;
}

.color0 { grid-area: topleft; }
.color1 { grid-area: topmiddle; }
.color2 { grid-area: topright; }
.color3 { grid-area: bottomleft; }
.color4 { grid-area: bottommiddle; }
.color5 { grid-area: bottomright; }
.club-number-label {
  margin:auto;
  vertical-align: bottom;
  margin-bottom: -5px;
}

.color-grid-container-1 {
  margin: auto;
  display: grid;
  grid-template-areas:
    'topleft topmiddle topright';
  gap: 1rem;
  /* height: 3rem;
  width: 27rem; */
  height: 3rem;
  width: 90%;
  /* background-color: black; */
}
.color-grid-container-1 > input {
    margin: auto;
}
.color-grid-container-2 {
  margin: auto;
  display: grid;
  grid-template-areas:
    'topleft topmiddle topright'
    'bottomleft bottommiddle bottomright';
  gap: 1rem;
  height: 9rem;
  width: 33rem;
  /* height: 100%;
  width: 100%; */
}
.color-grid-container-2 > div {
    margin: auto;
}
.pattern-details > div {
  margin-bottom: 6px;
}

.inline-option-grid-3 {
  margin: auto;
  display: grid;
  grid-template-areas:
    'label input slider';
  grid-template-columns: 20% 40% 40%;
  gap: 0rem;
  /* height: 22rem; */
  width: 100%;
}
.inline-option-grid-2 {
  margin: auto;
  display: grid;
  grid-template-areas:
    'label slider';
  grid-template-columns: 20% 80%;
  gap: 0rem;
  /* height: 22rem; */
  width: 100%;
}
.inline-option-grid-label {
  grid-area: label;
  margin: auto;
  width: 95%;
  /* height: 50px; */
  /* background-color: #0F3376; */
}
.inline-option-label-label {
  display: inline-block;
  background-color: #0cba00;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 5px 10px 10px 10px;
  text-decoration: none;
  font-size: 20px;
  /* height:100%; */
  width: 70%;
    margin: 0px;
    cursor: pointer;
    /* width:60%; */
  }
.inline-option-grid-input {
  /* background-color: #0F3376; */
  grid-area: input;
  margin: auto;
}
.inline-option-grid-slider {
  grid-area: slider;
  margin: auto;
  width: 100%;
}